.word-container {
  width: 35%;
  min-width: 300px;
}
.title {

}
.email {

}
.image-container {
  width: 50%;
  min-width: 300px;
}
.main {
  display: flex;
  flex-wrap: wrap;
}

.main-picture {
  width: 100%;
}
