body {
	margin-left: 20px;
	margin-right: 20px;
	margin-right: 20px;
	min-height: 100px;
	max-width: 950px;
	font-size: 15px;
	font-family: "Times New Roman", Times, Serif;
	line-height: 40px
}
header {
	margin-bottom: 100px;
}
.contact {
	position: absolute;
	top: 8px;
	right: 20px;
}
.caption {
	margin-bottom: 7px;
}
img {
	margin-bottom: 100px;
	max-width:100%;
	max-height:650px;
}
a {
	text-decoration: none;
	color: inherit;
}
a:hover {
	color: #062CFF;
}