html {
  font-family: arial;
  font-size: 14px;
}
.title {
  display: inline-block;
}
.email {
  padding-left: 50px;
  text-decoration: none;
  color: black;
  cursor: pointer;
}
.word-container {
  width: 35%;
  min-width: 300px;
  margin-bottom: 20px;
}
.image-container {
  width: 100%;
  min-width: 300px;
  cursor: pointer;
}
.main {
  display: flex;
  display: -ms-flexbox;
  flex-wrap: wrap;
}
.main-picture {
  width: 100%;
}
.pic-two {
  display: none;
}
@media (min-width: 725px){
  .main {
    margin-top: 100px;
  }
  .word-container {
    padding-left: 50px;
  }
  .image-container {
    width: 45%;
  }
}
